* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 97vh;
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 40vmin;
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  margin: 30px auto;
  position: relative;
}

.stopwatch {
  padding: 60px 0px;
  text-align: center;
}

.stopwatch span {
  background: #508771;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 20px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  border: 2px solid #508771;
  color: #508771;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}

.stopwatch .stopwatch-btn-gre:hover {
  background: #508771;
  border: 2px solid #508771;
  color: #fff;
}
